.outer {
  width: 80%;
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  margin: 0.8em auto;
  border: 3px solid #a84ede;
  z-index: 2;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.outer .titleDiv {
  font-weight: 400;
  text-align: center;
  line-height: 80px;
  color: #fff;
  user-select: none;
  border-radius: 12px 12px 0 0;
  background-image: linear-gradient(180deg, #5a237a, #4c1e85, #393061);
}

.outer form{
    padding: 20px 30px;
    color: #471a62;
}

.mailField{
    width: auto;
}
.mailField label {
    font-weight: 600;
}

.mailField input{
    height: 45px;
    width: 70%;
    outline: none;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #c675f6;
    border-radius: 10px;
    transition: all 0.3s ease;

}

@media screen and (max-width: 991px) {
    .outer{
        width:100%;
    }
    .mailField input{
        width: 100%
    }
}