{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% for item in comments %}
  <div class="media mt-2">
    <div class="comment">
      <div class="mr-auto">

        <h6> <!-- display user's name  -->
          {% if item.comment.url and not item.comment.is_removed %}
            <a href="{{ item.comment.url }}" target="_new">
          {% endif %}
          <span class="badge userName">
            {% if item.comment.level == 0 %}
              <img src="{% static 'tasks/images/user_level_1.png' %}" alt="images">
              {{ item.comment.name }}
            {% elif item.comment.level == 1 %}
              <img src="{% static 'tasks/images/user_level_2.png' %}" alt="images">
              {{ item.comment.name }}
            {% else %}
              <img src="{% static 'tasks/images/user_level_3.png' %}" alt="images">
              {{ item.comment.name }}
            {% endif %} 
          </span>
          
          {% if item.comment.url %}
            </a>
          {% endif %} 
          <span class="submitDate"> <!-- display submit date of comment -->
            {{ item.comment.submit_date }}
          </span>
        </h6>

        <!--  here display the user's comment text  -->
        {% if item.comment.is_removed %}
          <p class="text-muted{% if not allow_feedback and not item.comment.allow_thread %} pb-3{% endif %}"><em>{% trans "This comment has been removed." %}</em></p>
        {% else %}
          <div class="content{% if not allow_feedback and not item.comment.allow_thread %} pb-3{% endif %} commentDescription">
          {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
          </div>

        <!-- here we display the allowed feedback and flag -->
          {% if item.comment.allow_thread and not item.comment.is_removed %}
            <span class="replyAndFlag">
              {% if allow_feedback %}
              <!-- extend comments list if nested comments exist -->
                <span class="nestedComments">
                  <span class="badge text-bg-secondary" id="{{item.comment.id}}" onclick="nested_comments(this.id);">
                    <i class="fa-solid fa-minus" id="MinusIcon-{{item.comment.id}}" style="display:none;"></i>
                    <i class="fa-solid fa-plus" id="PlusIcon-{{item.comment.id}}" style="display:block;"></i>
                  </span> 
                </span>({{item.comment.nested_count}})
              {% endif %}

              <span class="text-muted">&bull;</span>
              <a href="{{ item.comment.get_reply_url }}"> Reply</a>
              <span class="text-muted">&bull;</span> 
              
              <span class="flag">  
                {% if item.comment.user and item.comment.user|has_permission:"django_comments.can_moderate" %}
                  <span>{% trans "moderator" %} </span>
                  <span class="text-muted">&bull;</span> 
                {% endif %}
            
                {% if not item.comment.is_removed %}
                  {% if perms.comments.can_moderate %}
                    {% if item.flagged_count %}
                      <span class="badge badge-danger" title="{% blocktrans count counter=item.flagged_count %} A
                      user has flagged this comment as inappropriate.{% plural %}{{ counter }} users have flagged
                      this comment as inappropriate.{% endblocktrans %}">{{ item.flagged_count }}
                      </span>
                      <span class="text-muted">&bull;</span> 
                    {% endif %}
                  {% endif %}
                  
                  {% if allow_flagging and request.user in item.flagged %}
                    <span class="text text-danger" title="{% trans 'comment flagged' %}">Report</span>
                  {% elif allow_flagging %}
                    <a class="mutedlink" href="{% url 'comments-flag' item.comment.pk %}">
                      <span title="{% trans 'flag comment' %}">Report</span>
                    </a>
                  {% endif %}
            
                  {% if perms.comments.can_moderate %}
                  <span class="text-muted">&bull;</span> 
                    <a class="mutedlink" href="{% url 'comments-delete' item.comment.pk %}">
                      <i class="fas fa-trash-alt" title="{% trans 'remove comment' %}"></i>
                    </a>
                  {% endif %}     
                {% endif %}
              </span>
            </span>
          {% endif %}   
        {% endif %}
      </div>

      <!-- this section display the nested comments -->
      <div class="childrenComments" id ="ChildComments-{{item.comment.id}}">
        {% if not item.comment.is_removed and item.children %}
          {% render_xtdcomment_tree with comments=item.children %}
        {% endif %} 
      </div>

    </div>
  </div>
{% endfor %}
