{% extends 'base.html' %}
{% load static %}
{% block title %} Terms of Use | MYxFATE {% endblock title %}
{% block cssfile %}
    <link href="{% static 'base/css/privacy_terms_of_use.css' %}" rel="stylesheet">
{% endblock cssfile %}
{% block content %}
<div class="outerDiv">
    <h1>Terms of Use</h1>
    <p>Effective Fabruary, 2023</p> <br>
    <ul>
        <li>
            <h4>Overview</h4>
            <p>
                These terms, including any schedules and supplemental terms (collectively, these "Terms of Use" or this "TOU") 
                apply to our sites and services on which we display or post a direct link to this TOU. If there is any 
                conflict between this TOU and any supplemental terms to a site, the supplemental terms will control. 
                This TOU does not apply to those sites and services that do not display or link to this TOU, or that have 
                their own terms of use. <br> <br>
                By using our sites and services, you are a "user" and you accept and agree to this TOU as a legal contract 
                between you and us. We may post changes to these TOU at any time, and any such changes will be applicable to 
                all subsequent access to or use of our sites and services. If you do not accept and agree to all provisions 
                of these TOU, now or in the future, you may reject these TOU by immediately terminating all access and use of 
                our sites and services, in which case any continuing access or use of our sites and service is unauthorized. 
                <br> <br>
                You are also required to comply with, and to ensure compliance with, all laws, ordinances, and regulations 
                applicable to your activities on our sites and services. <br> <br>
                Unless expressly permitted by supplemental terms, our website is intended for general audiences 18 years of 
                age and older, and access or use by anyone, younger is not authorized or should be necessary to receive 
                permission from parents before accessing our website.
            </p>
        </li>
        <li>
            <h4>Your Responsibilities and Use Restrictions</h4>
            <p>
                You assume total responsibility for your data and your use of the Sites, and you are responsible for all acts 
                and omissions of your users in connection with Sites. You shall use our website only for commercial purposes, 
                and you shall not use the website for activities which, in our sole discretion, may be illegal, offensive, 
                abusive, or in a manner that interferes with or adversely affects the website or use of the websites, 
                including using in the websites in a way that promotes hate, violence, discrimination, or intolerance. 
                You agree to compensate, hold harmless, and defend us from any claims, damages, losses, liabilities, costs, 
                and expenses, including attorneys fees, resulting from your use or misuse of the websites. <br> <br>
                You must use the websites in compliance with all applicable laws, rules, and regulations, including but not 
                limited to all data protection and privacy laws, as well as laws relating to unsolicited commercial 
                electronic messages.  You must obtain and maintain all applicable licenses, permits, and approvals for 
                the use of the Services required by any governmental agency, foreign or domestic, having jurisdiction 
                over the transaction.  Except as otherwise agreed to by us in writing, you shall not remove, modify or 
                obscure any copyright, and proprietary rights notices that appear on any materials made available by us.
            </p>
        </li>
        <li>
            <h4>Data Privacy</h4>
            <p>
                Your use of the Sites is subject to the terms of our Privacy Policy, available at 
                https://myxfate.com/privacy-policy/. You acknowledge that you have read and understand the Privacy Policy, 
                and you consent to the use of any personal information you provide in accordance with the terms of, and for 
                the purpose set forth in the Privacy Policy. <br> <br>
                We have adopted and implemented a copyright policy in accordance with the Digital Millennium Act. In 
                appropriate circumstances and at our sole discretion, we may disable and/or terminate the accounts of users 
                who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual 
                property rights of others.
            </p>
        </li>
        <li>
            <h4>Account and Security</h4>
            <p>
                You are solely responsible for the security of online access to Sites, including your account, and you must take 
                precautions to protect the confidentiality of your password and other login information. You shall not share your 
                password or login information with any other person or entity. You shall contact us immediately if you suspect 
                unauthorized use of your password or login information or any other unauthorized activity on your account. 
                <br> <br>
                You are and will be responsible for all activities conducted on and with the Services and Sites that make use of 
                your account information, and for any charges or fees incurred by the use of that account information, including 
                any use you may subsequently contend you did not authorize. We may justifiably assume that any communication or 
                instructions received through any electronic systems and placed under your account or password were placed or 
                authorized by you.

            </p>
        </li>
        <li>
            <h4>Unauthorized Access and Activities</h4>
            <ul class="accessAndActivities">
                <li class="listItem">
                    The collection of our sites and service users' personal information (including but not limited to email 
                    addresses, and usernames) is not allowed for any purpose.
                </li>
                <li class="listItem">
                    Any effort to decompile, disassemble or reverse engineer all or any part of our sites and services in order to 
                    identify, acquire, copy or emulate any source code or object code is expressly prohibited.
                </li>
                <li class="listItem">
                    Any activities (including but not limited to posting voluminous content) that are inconsistent with the use 
                    of our sites and services in compliance with these TOU or that may impair or interfere with the integrity, 
                    functionality, performance, usefulness, usability, signal-to-noise ratio or quality of all or any part of 
                    our sites and services in any manner are expressly prohibited.
                </li>
                <li class="listItem">
                    Any attempt (whether successful) to engage in, or to enable, induce, encourage, cause or assist anyone
                    else to engage in, any of the above unauthorized and prohibited access and activities is also expressly 
                    prohibited and is a violation of these TOU.
                </li>
                <li class="listItem">
                    Any access to or use of our sites and services to design, develop, test, update, operate, modify, maintain, 
                    advertise, distribute or otherwise make available any program, or service (including, without limitation, 
                    any device, technology, product, computer program, mobile device application, website, or mechanical or 
                    personal service) that enables or provides access to, use of, operation of or interoperation with our sites 
                    and services (including, without limitation, to access content, post content, cross-post content, re-post 
                    content, respond or reply to content, verify content, transmit content, create accounts, verify accounts, 
                    use accounts, circumvent and/or automate technological security measures or restrictions, or flag content) 
                    is prohibited.
                </li>
                <li class="listItem">
                    If you access our sites and services or copy, display, distribute, or share derivative works from our sites' 
                    webpages or our intellectual property in violation of these TOU or for purposes inconsistent with these TOU, 
                    your access, copying, display, distribution, performance or derivative work is unauthorized. Circumvention 
                    of any technological restriction or security measure on our sites and services or any provision of these 
                    TOU that restricts content, conduct, accounts, or access is expressly prohibited.
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock content %}