main {
    background-color: rgb(215, 200, 224);
    color: #190326;
    padding: 40px;
}
.outerDiv {
    font-weight: 500;
    font-size: 15px;
}
ul {
    padding: 5px;
}

ul li {
    list-style-type: none;
}

h4, h6 {
    text-transform: uppercase;
}

p {
    padding: 10px 20px;
}
.purposeOfPrivacy, .personalData, .accountInfo, .accessAndActivities {
    padding: 5px 40px;
}

.listItem {
    list-style-type: disc;
    font-weight: 500;
    margin-top: 8px;
}

.notice {
    font-weight: bold;
}

 @media screen and (max-width:991px){
    main{
        padding: 15px;
    }
    ul li p {
        padding: 8px 10px;
    }
 }