{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load comments_xtd %}

{% block title %} Remove Comment | MYxFATE {% trans "Remove comment" %}{% endblock %}

{% block content %}
  <div class="mb-4">
    <h2 class="text-center">{% trans "Remove this comment?" %}</h2>
  </div>
  <div class="row flagBox">
    <div class="offset-md-1 col-md-10">
      <div class="media">
        <div class="media-body">
          <div class="comment pb-3">
            <h5 class="badge text-bg-light userName">
              {% if comment.level == 0 %}
                <img src="{% static 'tasks/images/user_level_1.png' %}" alt="images">
                {{ comment.name }}
              {% else %}
                <img src="{% static 'tasks/images/user_level_2.png' %}" alt="images">
                {{ comment.name }}
              {% endif %}
            </h5>
            <p class="submitDate">{{ comment.submit_date }}</p>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row flagDiv ">
    <div class="offset-md-1 col-md-10">
      <form action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ comment.content_object.get_absolute_url }}"/>
        <div class="form-group">
          <div class="text-center">
            <input type="submit" name="submit" class="btn purpleButton" value="{% trans 'Remove' %}"/>
            <a class="btn purpleButton" href="{{ comment.content_object.get_absolute_url }}">{% trans 'cancel' %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
